<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="padding-nav"><%= t '.Listado de camisetas' %></h1>
  <% @shirts.each do |shirt| %>
    <%= image_tag(shirt.photo) %> <br>
  <% end %>
</div>
