<p id="notice"><%= notice %></p>

<div class="padding-nav">
<div class="container" style="margin-top:10px;">
  <div class="row form-group">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><%= @shirt.title %> </h3>
                </div>
                <div class="panel-image hide-panel-body">
                    <%= link_to (image_tag @shirt.photo, class: 'panel-image-preview') %>
                </div>
                <div class="panel-body text-center">
                    <p><%= @shirt.description %> </p>
                </div>
            </div>
        </div>
  </div>
</div>
</div>
