<p id="notice"><%= notice %></p>

<div class="container padding-nav">
<p>
  <strong>Name:</strong>
  <%= @category.name %>
  <%= @category.shirts %>
  <% @category.shirts.each do |s| %>
    <%= s.title %>
  <% end %>
  </p>
</div>
