<p id="notice"><%= notice %></p>

<div class="container padding-nav">
<p>
  <strong>Name:</strong>
  <%= @category.name %>
  <% @categories.each do |category| %>
    <% category.shirts.each do |shirt| %>
      <p> <%= image_tag shirt.photo %></p>
    <% end -%>
  <% end -%>
</p>
</div>
